dist/
/build
/doc/html
/ldapfilter_tab.py
.eggs/
*.egg-info
/lib/*.egg-info
/lib/*.egg
/lib/activedirectory/protocol/*.so
*.pyc
*.log
*.egg
*.db
*.pid
pip-log.txt
.DS_Store
*swp
.python-version
.tox
venv/
test.conf.atl
